.catalog {
  width: 320px;
  height: 1775px;
}

.catalog__header {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 151px 39px;
  width: 320px;
  height: 190px;
  margin-top: 19px;
}

.product-card__image {
  grid-column: 1 / 1;
  margin: 13px 36px;
}

.product-card__header {
  width: 156px;
  height: 41px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__property {
  margin-top: 55px;
  grid-column-start: 2;
  grid-row-start: 1;
  width: 142px;
  height: 44px;
}

.order-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 280px;
  height: 40px;
  background: #68b738;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.product-card__property-description {
  margin-right: auto;
}

.product-card__meaning {
  margin-left: 40px;
}

.show-more__header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.show-more__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.show-more__button {
  width: 279px;
  height: 40px;
  background: #f2f2f2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}
