.main-footer {
  width: 320px;
  height: 236px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 768px;
    height: 147px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 1440px;
    height: 149px;
  }
}

.main-footer__logo-text__image {
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 39px;
  margin-bottom: 54px;
}

.main-footer__list {
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.copyright-link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  margin-right: 140px;
  margin-left: 19px;
}

.social-link {
  &:hover {
    color: #68b738;
    opacity: 0.8;
  }

  &:active {
    color: #68b738;
    opacity: 0.6;
  }
}
