.program-selection-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-left: 20px;
}

.form-description__header {
  width: 226px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
}

.form-name-weight-age {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.name-word {
  margin-top: 52px;
}

.wright-name__input {
  width: 229px;
  height: 45px;
  margin-top: 39px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

.wright-weight__input {
  width: 204px;
  height: 45px;
  margin-top: 14px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

.wright-age__input {
  width: 172px;
  height: 45px;
  margin-top: 14px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}
