.needs {
  width: 276px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
}

.needs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.needs-describtion {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
