.your-contacts {
  width: 300px;
  height: 191px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 236px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.your-contacts__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.your-contacts__email {
  display: flex;
}

.your-contacts__phone {
  display: flex;
}

.your-contacts__email-input {
  width: 219px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    width: 551px;
    height: 52px;
  }
}

.your-contacts__phone-input {
  width: 204px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    width: 535px;
    height: 52px;
  }
}
