.main-header {
  display: flex;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.main-header__logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 33px;
  height: 37px;
  text-align: start;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
    background-image: url("img/logo-tablet.svg");
    text-align: start;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    height: 59px;
    background-image: url("img/logo-desktop.svg");
    text-align: start;
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text__image {
  text-align: center;
  width: 101px;
  height: 18px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
