.live-example {
  width: 320px;
  height: 659px;
  background: #eaeaea;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 800px;
    margin-bottom: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    background: #eaeaea;
    display: flex;
  }
}

.live-example__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    width: 325px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}

.live-example__description {
  width: 280px;
  height: 108px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
  }
}

.result-container {
  display: flex;
}

.result__kg,
.time-spent__days {
  margin-left: 63px;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.weight-gain__result-description,
.time-spent__description {
  position: relative;
  margin-left: 38px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  text-align: center;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.food-price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.live-example__image {
  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}
