.page-description {
  width: 320px;
  height: 480px;
  background-image: url("../img/index-background-image.jpg");
  background-repeat: no-repeat;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 800px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    background-image: none;
  }
}

.page-description__wrapper {
  display: grid;

  @media @tablet {
    min-width: 708px;
  }

  @media @desktop {
    grid-template-columns: 50% 50%;
    margin-left: 80px;
    margin-right: 80px;
    width: 1060px;
  }
}

.page-description__container {
  width: 320px;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 500px;
    background-color: #ffffff;
  }
}

.description__cat-energy {
  width: 249px;
  height: 72px;
  margin-top: 27px;
  margin-right: 35px;
  margin-left: 36px;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 416px;
    color: @color-black;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__you-and-cat {
  width: 198px;
  height: 14px;
  font-weight: 400;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 289px;
    height: 20px;
    margin: 44px 366px 20px 119px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @color-black;
  }
}

.description__image {
  display: block;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 270px;
}

.description__link {
  align-items: center;
  position: absolute;
  text-align: center;
  margin-top: 138px;
  margin-left: 20px;
  margin-right: auto;
  text-decoration: none;
  width: 192px;
  height: 26px;
  padding: 7px 44px;
  background: @background-color;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    grid-column: ~"1 / -1";
    grid-row: ~"3 / 5";
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 554px;
    height: 499px;
    grid-column: ~"2 / 3";
    grid-row: ~"1 / 5";
  }
}
