.sliming {
  width: 280px;
  height: 266px;
  background: #f2f2f2;
}

.sliming-header {
  width: 110px;
  height: 37px;
  margin-top: 30px;
  margin-left: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.sliming__header-container {
  display: flex;
}

.sliming__header-image {
  margin-left: 29px;
  margin-top: 21px;
  margin-right: 25px;
}

.sliming__description {
  width: 227px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.sliming__button {
  border: 0;
  margin-left: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.right-arrow {
  width: 24px;
  height: 12px;
  margin-left: 15px;
}
