.weight-gain {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 266px;
  background: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.weight-gain__header {
  width: 147px;
  height: 37px;
  margin-top: 30px;
  margin-left: 25px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @tablet-width) {
    width: 206px;
    height: 36px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: @color-black;
  }
}

.weight-gain__container-header {
  display: flex;
}

.weight-gain__header-image {
  margin-left: 29px;
  margin-top: 21px;
  margin-right: 25px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
  }
}

.weight-gain__description {
  width: 227px;
  height: 90px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    width: 340px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: @color-black;
  }
}

.weight-gain__button {
  border: 0;
  margin-left: 19px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @tablet-width) {
    width: 165px;
    height: 38px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
  }
}
