@import "variables.scss";

.product-feature {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.product-feature__title {
  margin: 0;
  padding: 0;
}

.product-feature__value {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .product-feature {
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
  }
}
